* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
}

/* start cart confirm */

.cart-confirm .row-design {
  padding: 20px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 16px -4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 16px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 16px -4px rgba(0, 0, 0, 0.3);
}

.cart-confirm h2 {
  border-bottom: 3px solid #41a556;
  width: fit-content;
  padding: 0 0 10px 0;
  margin-bottom: 50px;
}

.confirm span {
  color: red;
}

.cart-confirm button {
  width: 100%;
  background-color: #bbf8c8;
  color: #000;
  border: none;
  transition: 0.3s;
  padding: 12px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0;
  font-weight: 800;
}

.cart-confirm form input[type="text"],
.cart-confirm form .form-select {
  border-radius: 0;
  font-weight: 700;
}

.cart-confirm form label {
  font-weight: 700;
  font-size: 18px;
}

.cart-confirm form .form-select option {
  font-weight: 700;
}

.cart-confirm form input[type="text"]:focus,
.cart-confirm form .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(65, 165, 86, 0.25);
  border: 1px solid rgba(65, 165, 86, 0.25);
}

.cart-confirm button:hover {
  background-color: #9ff0b1;
  color: #000;
}

.cart-confirm table thead tr td {
  font-weight: 700;
  font-size: 18px;
}

.cart-confirm table tbody tr td {
  font-weight: 500;
}

.cart-confirm table .total {
  font-size: 20px;
  font-weight: bold;
}

.cart-confirm .table-two tbody tr td {
  font-weight: 500;
}

@media (max-width: 575px) {
  .cart-confirm table thead tr td {
    font-size: 16px;
  }

  .cart-confirm table tbody tr td {
    font-weight: 400;
  }

  .cart-confirm table .total {
    font-size: 18px;
    font-weight: bold;
  }

  .mobile-heading {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .cart-confirm table thead tr td {
    font-size: 16px;
  }

  .cart-confirm table tbody tr td {
    font-weight: 400;
  }

  .cart-confirm table .total {
    font-size: 18px;
    font-weight: bold;
  }

  .mobile-heading {
    margin-top: 30px;
  }
  .mobile-heading {
    margin-top: 30px;
  }
}
